doctype html
html
  head 
    title Akash Dance Academy
    style 
         include ../static/style.css
  body
    nav#navbar 
       ul
           div#logo 
              img(src="../static/logo.png")
              |HDA
           li #[a(href="/") Home] 
           li #[a(href="/") About] 
           li #[a(href="/") Services] 
           li #[a(href="/") class info] 
           li #[a(href="/") Contact us]
    section#introSection 
     div Welcome to Akash's Dance Academy
     div.small Eatd Sleep Dance Repeat
    section#missionSection
     h2 Our Mission
     div.card 
       h3 Dance Perfection
       div.card-box 
           div.card-img 
             img(src="/static/flip.png") 
           div.card-content 
            p This is the best dance academy of the Universe
     div.card 
       h3 Dance the way you like
       div.card-box
           div.card-img 
             img( src="/static/flip2.png") 
           div.card-content 
            p This is the best dance academy of the Universe 
     div.card 
       h3 Expert Teaching 
       div.card-box
           div.card-img 
             img(src="/static/flip3.png") 
           div.card-content 
            p This is the best dance academy of the Universe
    section#sponsorSection
     h2 Our Sponsor
     div#sponsors 
         img(class="spImage" src="../static/apple.png", alt="")
         img(class="spImage" src="../static/microsoft logo.png", alt="")
         img(class="spImage" src="../static/skypee logo.png", alt="")
         img(class="spImage" src="../static/HP logo.png", alt="")
         
    footer#footer
     | copyright © 2024 AkashDanceAcademy.com | All rights reserved
    script
    include ../static/index.js
